@use "./global" as *;

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 100px;

    @include vp-1439 {
        // max-width: 768px;
        padding: 0 30px;
    }

    @include vp-767 {
        // max-width: 375px;
        padding: 0 15px;
    }
}