@use "./variables" as *;

@mixin vp-1023 {
    @media (max-width: $vp-desctop-xs) {
       @content; 
    }
}

@mixin vp-767 {
    @media (max-width: $vp-tablet) {
       @content; 
    }
}

@mixin vp-579 {
    @media (max-width: $vp-mobile) {
       @content; 
    }
}