@use "./global" as *;

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: $ff-main;
    color: $color-text-white;
    background-color: $color-bg-black-ru;
    font-weight: $ff-main-regular;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main {
    flex-grow: 1;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

a {
    color: inherit;
    text-decoration: none;
}

textarea {
    resize: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p,
h1,
h2,
h3 {
    margin: 0;
}