@use "./global" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $ff-main;
  color: #e7e7e7;
  background-color: #242424;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a { 
  color: inherit;
  text-decoration: none;
}

textarea {
  resize: none;
}
