/* Fonts */
/* ------------------------------------ */
$ff-main: "Noto Sans", "Arial", sans-serif;
$ff-main-regular: 400;
$ff-main-medium: 500;
$ff-main-bold: 700;

/* Colors */
/* ------------------------------------ */
$color-bg-black-ru: #1e1e26;                        // основной фон
$color-bg-bastille: #2a2a35;                        // фон для карточек, секций
$color-carib-green: #00d18c;                        // акцентный зелёный кнопки\ссылки\иконки
$color-hover-jade: #00b87c;                         // hover-состояние
$color-text-white: #ffffff;                         // основной текст
$color-text-dark-gray: #b0b0b0;                     // вторичный текст 
$color-border-white-01: rgba(255, 255, 255, 0.1);   // рамки
$color-shadow-white-05: rgba(255, 255, 255, 0.5);         // тени карточек\кнопок

/* Breakpoints */
/* ------------------------------------ */
$vp-tablet: 1439px;
$vp-mobile: 767px;