/* Fonts */
/* ------------------------------------ */
$ff-main: "Noto Sans", "Arial", sans-serif;

/* Colors */
/* ------------------------------------ */

/* Breakpoints */
/* ------------------------------------ */
$vp-tablet: 1439px;
$vp-mobile: 767px;