@use "../../styles/global" as *;

.skills {
    padding: 0 0 60px;

    @include vp-767 {
        padding: 0 0 40px;
    }
    
    &__title {
        font-size: 32px;
        font-weight: $ff-main-bold;
        color: $color-carib-green;
        margin: 0 0 40px;

        @include vp-767 {
            font-size: 22px;
            margin-bottom: 20px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 80px;

        @include vp-767 {
            gap: 40px;
        }
    }

    &__inner {
        position: relative;
        width: 60%;

        &::before {
            content: '';
            position: absolute;
            right: -40px;
            top: 50%;
            transform: translateY(-50%);
            width: 2px;
            height: 80%;
            background-color: $color-carib-green;
            box-shadow: 0 0 5px $color-shadow-black-05;

            @include vp-767 {
                right: -20px;
            }
        }
    }

    &__text {
        font-size: 16px;

        @include vp-767 {
            font-size: 14px;
        }
    }

    &__list {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        @include vp-767 {
            gap: 8px;
        }
    }

    &__item {
        padding: 6px 10px;
        font-size: 16px;
        font-weight: $ff-main-medium;
        background-color: $color-carib-green;
        color: $color-bg-black-ru;
        border-radius: 6px;
        box-shadow: 0 0 5px $color-shadow-black-05;

        @include vp-767 {
            padding: 4px 8px;
            font-size: 14px;
        }
    }
}