@use "../../styles/global" as *;

.header {
    background-color: $color-bg-bastille;
    padding: 15px 0;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        &List {
            list-style-type: none;
            display: flex;
            gap: 15px;
        }

        &Link {
            transition: color $transition-300;
            outline: none;

            &:hover,
            &:focus-visible {
                color: $color-hover-jade;
            }

            @include vp-767 {
                font-size: 14px;
            }
        }
    }

    &__btn {
        padding: 8px 10px;
        font-size: 16px;
        font-weight: $ff-main-medium;
        background-color: $color-carib-green;
        color: $color-bg-black-ru;
        border-radius: 6px;
        box-shadow: 0 0 5px $color-shadow-black-05;
        transition: background-color $transition-300;

        &:hover {
            background-color: $color-hover-jade;
        }

        @include vp-767 {
            padding: 6px 8px;
            font-size: 14px;
        }
    }
}