@use "../../styles/global" as *;

.header {
    background-color: $color-bg-bastille;
    padding: 15px 0;

    &__nav {
        &List {
            list-style-type: none;
            display: flex;
            gap: 15px;
        }

        &Link {
            transition: color $transition-300;
            outline: none;

            &:hover,
            &:focus-visible {
                color: $color-hover-jade;
            }

            @include vp-767 {
                font-size: 14px;
            }
        }
    }
}