@use "../../styles/global" as *;

.aboutMe {
    padding: 60px 0;

    &__top {
        display: flex;
        justify-content: space-between;
        padding: 0 0 20px;
    }

    &__inner {
        width: 60%;
    }

    &__title,
    &__titleText {
        font-size: 40px;
        font-weight: $ff-main-bold;
        line-height: 44px;
    }

    &__subTitle {
        font-size: 32px;
        font-weight: $ff-main-bold;
        line-height: 36px;
        color: $color-carib-green;
        margin: 10px 0 0;
    }

    &__text {
        font-size: 16px;
        line-height: 18px;
        margin: 20px 0 0;
    }
    
    &__img {
        position: relative;
        width: 240px;
        height: 240px;
        border-radius: 50%;
        box-shadow: 0 0 6px 2px $color-carib-green;
    }

    &__social {
        padding: 20px;
        display: flex;
        gap: 20px;
        justify-content: space-around;

        &Link {
            position: relative;
            font-size: 16px;
            line-height: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            outline: none;

            &::before {
                content: '';
                position: absolute;
                bottom: -16px;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                height: 2px;
                background-color: $color-carib-green;
                box-shadow: 0 0 5px $color-shadow-black-05;
                z-index: -1;
                transition: box-shadow $transition-300, bottom $transition-300, height $transition-300;
            }

            &:hover::before,
            &:focus-visible::before {
                bottom: 12px;
                box-shadow: 0 0 15px 10px $color-hover-jade;
                height: 0;
            }
        }
    }
}