@use "../../styles/global" as *;

.aboutMe {
    padding: 60px 0;

    @include vp-767 {
        padding: 40px 0;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        padding: 0 0 40px;

        @include vp-579 {
            padding: 0 0 20px;
            flex-direction: column-reverse;
            align-items: center;
        }
    }

    &__inner {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: start;

        @include vp-579 {
            width: 100%;
            align-items: center;
        }
    }

    &__title,
    &__titleText {
        font-size: 40px;
        font-weight: $ff-main-bold;

        @include vp-767 {
            font-size: 32px;
        }

        @include vp-579 {
            font-size: 28px;
            display: flex;
            justify-content: center;
            text-align: center;
        }
    }

    &__subTitle {
        font-size: 32px;
        font-weight: $ff-main-bold;
        color: $color-carib-green;
        margin: 10px 0 0;

        @include vp-767 {
            font-size: 22px;
        }

        @include vp-579 {
            text-align: center;
        }
    }

    &__text {
        font-size: 16px;
        margin: 20px 0 0;

        @include vp-767 {
            font-size: 14px;
        }
    }
    
    &__img {
        position: relative;
        width: 240px;
        height: 240px;
        border-radius: 50%;
        box-shadow: 0 0 6px 2px $color-carib-green;

        @include vp-767 {
            width: 200px;
            height: 200px;
        }
    }

    &__social {
        padding: 20px;
        display: flex;
        gap: 20px;
        justify-content: space-around;
        background-color: $color-bg-bastille;
        border-radius: 12px;

        @include vp-767 {
            gap: 30px 10px;
            padding: 10px;
            flex-wrap: wrap;
        }

        @include vp-579 {
            justify-content: start;
            flex-wrap: nowrap;
            flex-direction: column;
            align-items: start;
            gap: 10px;
        }

        &Link {
            position: relative;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 8px;
            outline: none;
            

            @include vp-767 {
                gap: 6px;
                font-size: 14px;
            }

            //! Скорее всего убрать

            &::before {
                display: none;
                content: '';
                position: absolute;
                bottom: -16px;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                height: 2px;
                background-color: $color-carib-green;
                box-shadow: 0 0 5px $color-shadow-black-05;
                z-index: -1;
                transition: box-shadow $transition-300, bottom $transition-300, height $transition-300;

                @include vp-767 {
                    bottom: -8px;
                }

                @include vp-579 {
                    display: none;
                }
            }

            &:hover::before,
            &:focus-visible::before {
                bottom: 12px;
                box-shadow: 0 0 15px 6px $color-hover-jade;
                height: 0;
            }
        }

        &Text {
            @include vp-579 {
                
            }
        }

        &Icon {
            @include vp-579 {
                width: 32px;
                height: 32px;
                padding: 6px;
                background-color: $color-carib-green;
                border-radius: 50%;
                box-shadow: 0 0 5px $color-shadow-black-05;
            }
        }
    }
}